.navbar{
    background-color: #FFFFFF;
    padding-top: 25px;
}
.navbar-brand{
    font-weight: 600;
    font-size: 25px;
}
.nav-link{
    font-weight: 400;
    font-size: 20px;
    margin-left: 10px;
}
.a1{
    background-color: #FFFFFF;
}
.bi{
    color: #E95095;
    
}
.a3{
    color: #E95095;
}
.a2{
    font-size: 35px;
    font-weight: 700;
}
.a5{
text-decoration: none;
color: white;
padding: 14px 30px;
    border-radius: 35px;
    background-color: #E95095;
    font-weight: 600;
}
.a6{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    padding: 14px 30px;
    border-radius: 35px;
    font-weight: 500;
    background-color: #E8E8E8;
}
.a10{
    font-weight: 700;
}
.a11{
    width: 547px;
    height: 400px;

}
.vi{
    width: 100%;
    margin-left: 25px;
}
.a13{
    font-weight: 800;
}
.a14{
    font-weight: 500;
}
.b1{
    background-color: #F5F5F5;
    padding-top: 32px;
    padding-bottom: 55px;
}
